// ----------------------------------------------------------
// colors
// ----------------------------------------------------------

$text               : #444;


// ----------------------------------------------------------
// measurements
// ----------------------------------------------------------

$margin             : 8px;
$padding            : $margin;


// ----------------------------------------------------------
// transitions
// ----------------------------------------------------------

$transition         : 200ms ease-in;

// ----------------------------------------------------------
// invisible extends
// ----------------------------------------------------------

%no-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

%ir {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


// ----------------------------------------------------------
// fonts
// ----------------------------------------------------------

$baseFontSize       : 16;